In [1]:
import pandas as pd  ### Load the Pandas libraries with alias 'pd'

In [2]:
### https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values

##can refer above link

In [3]:
df=pd.read_csv("csv file.csv") ### Read data from file 'filename.csv' (in the same directory that your python process is based)
                               ###Control delimiters, rows, column names with read_csv (see later) 
                                #data = pd.read_csv("filename.csv")

In [4]:
df.head() ###Preview the first 5 lines of the loaded data...Parameters=n:int, default 5...df.head(n) 
           ##Number of rows to select.

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672

In [26]:
df.head(3) ##Viewing the first n lines (three in this case)

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408

In [27]:
df.head(-50) ##For negative values of n

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672
5,Income quintile 4,2008,disq4,312336,229014,147658,73.3,47.3,20.0,35.3,2.6,61674,52776,36691,31958
6,Income quintile 5 (high),2008,disq5,311574,253235,152835,81.3,49.1,20.0,39.3,2.5,96861,72822,55637,42932
7,Expenditure quintile 1 (low),2008,expq1,312761,194358,49448,62.1,15.8,20.0,38.7,2.5,23680,16413,15190,11015
8,Expenditure quintile 2,2008,expq2,311973,206342,86390,66.1,27.7,20.0,36.1,2.7,34155,29085,20357,18121
9,Expenditure quintile 3,2008,expq3,311840,194361,108065,62.3,34.7,20.0,33.0,2.8,49771,42662,27203,25132
10,Expenditure quintile 4,2008,expq4,312257,231612,149007,74.2,47.7,20.0,35.1,2.7,60863,59015,34547,34167
11,Expenditure quintile 5 (high),2008,expq5,312028,260907,181496,83.6,58.2,20.0,36.7,2.5,77434,89053,46269,51550
12,Māori,2008,maori,253018,119963,77076,47.4,30.5,16.2,28.9,3.2,42885,35312,23096,19797
13,Superannuitant,2008,super,300243,263054,15406,87.6,5.1,19.2,70.3,1.6,22367,21538,17203,17211
14,All households,2011,allhh,1607228,1048164,523698,65.2,32.6,100.0,36.3,2.6,53103,46098,30833,27335
15,Beneficiary,2011,benef,197237,56665,27129,28.7,13.8,12.3,28.0,2.7,25902,27605,16097,16685
16,Income quintile 1 (low),2011,disq1,321848,166355,49952,51.7,15.5,20.0,36.3,2.4,19787,24224,15414,16221
17,Income quintile 2,2011,disq2,321751,187275,77561,58.2,24.1,20.0,35.0,2.9,37370,34200,21998,20586
18,Income quintile 3,2011,disq3,321372,204957,119746,63.8,37.3,20.0,33.4,2.9,54894,49431,30833,28130
19,Income quintile 4,2011,disq4,321507,226916,133454,70.6,41.5,20.0,36.8,2.6,69183,55569,42084,33019

In [5]:
df.tail() #Return the last 5 rows defaultly..df.tail(n)..[n=5]

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
65,Expenditure quintile 3,2020,expq3,352564,213893,119637,60.7,33.9,20.1,36.9,2.8,69779,57351,38889,33468
66,Expenditure quintile 4,2020,expq4,350182,235256,141104,67.2,40.3,19.9,35.0,3.0,88944,83038,48929,45978
67,Expenditure quintile 5 (high),2020,expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985
68,Māori,2020,maori,329588,156459,107753,47.5,32.7,18.8,31.1,3.2,69581,54141,35075,29684
69,Superannuitant,2020,super,388013,314154,38270,81.0,9.9,22.1,69.8,1.7,34712,34643,25077,27037

In [28]:
df.tail(7) ##if (n=7)means returns last 7rows

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
63,Expenditure quintile 1 (low),2020,expq1,352137,182056,45300,51.7,12.9,20.0,40.6,2.5,33200,20063,21993,14308
64,Expenditure quintile 2,2020,expq2,350530,198616,80783,56.7,23.0,20.0,37.4,2.8,51756,40102,28481,24061
65,Expenditure quintile 3,2020,expq3,352564,213893,119637,60.7,33.9,20.1,36.9,2.8,69779,57351,38889,33468
66,Expenditure quintile 4,2020,expq4,350182,235256,141104,67.2,40.3,19.9,35.0,3.0,88944,83038,48929,45978
67,Expenditure quintile 5 (high),2020,expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985
68,Māori,2020,maori,329588,156459,107753,47.5,32.7,18.8,31.1,3.2,69581,54141,35075,29684
69,Superannuitant,2020,super,388013,314154,38270,81.0,9.9,22.1,69.8,1.7,34712,34643,25077,27037

In [29]:
df.tail(-30) ##For negative values of n, this function returns all rows except the first n rows

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
30,Income quintile 1 (low),2014,disq1,328349,171141,52691,52.1,16.0,20.0,37.4,2.4,22822,25809,17168,17555
31,Income quintile 2,2014,disq2,327432,190496,84148,58.2,25.7,20.0,34.2,2.9,41107,38498,24162,22743
32,Income quintile 3,2014,disq3,327566,219709,118724,67.1,36.2,20.0,34.8,2.8,58007,52941,33426,30133
33,Income quintile 4,2014,disq4,328158,237912,145756,72.5,44.4,20.0,38.2,2.6,78889,65874,47882,38147
34,Income quintile 5 (high),2014,disq5,327900,271412,151260,82.8,46.1,20.0,41.0,2.4,122881,80806,72233,49571
35,Expenditure quintile 1 (low),2014,expq1,327145,179585,41640,54.9,12.7,20.0,38.5,2.6,30138,19997,19171,13678
36,Expenditure quintile 2,2014,expq2,328033,191455,79697,58.4,24.3,20.0,35.7,2.7,42898,35822,25743,21961
37,Expenditure quintile 3,2014,expq3,328959,218610,113005,66.5,34.4,20.1,36.4,2.8,60890,49330,33139,29706
38,Expenditure quintile 4,2014,expq4,327692,229472,138029,70.0,42.1,20.0,36.5,2.6,80597,66519,45599,39787
39,Expenditure quintile 5 (high),2014,expq5,327576,271549,180208,82.9,55.0,20.0,37.9,2.5,97676,97823,60056,56910
40,Māori,2014,maori,287053,127885,85034,44.6,29.6,17.5,30.2,3.1,56765,43582,28428,24850
41,Superannuitant,2014,super,357748,315121,41565,88.1,11.6,21.8,68.8,1.7,33168,29328,25404,23456
42,All households,2017,allhh,1690069,1125000,557880,66.6,33.0,100.0,37.4,2.7,64066,54293,36146,31409
43,Beneficiary,2017,benef,132215,30080,14220,22.8,10.8,7.8,29.1,2.8,29947,30054,16822,17655
44,Income quintile 1 (low),2017,disq1,337948,182696,43443,54.1,12.9,20.0,40.3,2.3,22733,26775,18859,17850
45,Income quintile 2,2017,disq2,338573,189146,79743,55.9,23.6,20.0,35.2,3.0,45704,43676,25815,24077
46,Income quintile 3,2017,disq3,337875,216720,126551,64.1,37.5,20.0,34.7,3.1,66652,58065,36146,30908
47,Income quintile 4,2017,disq4,337646,249553,147278,73.9,43.6,20.0,37.1,2.7,85856,68119,50425,40219
48,Income quintile 5 (high),2017,disq5,338027,286886,160865,84.9,47.6,20.0,41.1,2.5,133270,90983,79607,54244
49,Expenditure quintile 1 (low),2017,expq1,338025,181960,32809,53.8,9.7,20.0,40.0,2.6,33596,20167,20674,14437
50,Expenditure quintile 2,2017,expq2,337869,194770,80172,57.6,23.7,20.0,36.1,2.8,50561,38052,27694,22792
51,Expenditure quintile 3,2017,expq3,338553,217590,117386,64.3,34.7,20.0,35.7,2.9,65099,54936,35959,31409
52,Expenditure quintile 4,2017,expq4,338127,249664,154618,73.8,45.7,20.0,37.1,2.6,81699,72718,47432,42940
53,Expenditure quintile 5 (high),2017,expq5,337496,281016,172895,83.3,51.2,20.0,38.3,2.6,109930,115746,67081,67680
54,Māori,2017,maori,295322,146979,89146,49.8,30.2,17.5,32.0,3.1,62193,50982,31571,26395
55,Superannuitant,2017,super,390232,329269,33310,84.4,8.5,23.1,69.9,1.6,33911,30486,24803,23968
56,All households,2020,allhh,1756740,1118600,574662,63.7,32.7,100.0,37.8,2.7,65457,57969,37147,33460
57,Beneficiary,2020,benef,209559,55723,28429,26.6,13.6,11.9,31.7,2.5,31232,29416,20697,19007
58,Income quintile 1 (low),2020,disq1,353215,202923,54851,57.5,15.5,20.1,41.1,2.3,20816,30562,17041,20927
59,Income quintile 2,2020,disq2,349670,193484,73432,55.3,21.0,19.9,38.4,2.7,41199,41509,25750,24552
60,Income quintile 3,2020,disq3,351497,210229,121764,59.8,34.6,20.0,33.8,3.0,66897,57775,37147,32476
61,Income quintile 4,2020,disq4,351517,229772,154104,65.4,43.8,20.0,36.9,2.8,92531,71932,52359,41522
62,Income quintile 5 (high),2020,disq5,350840,282193,170510,80.4,48.6,20.0,39.8,2.7,146672,98187,78217,55989
63,Expenditure quintile 1 (low),2020,expq1,352137,182056,45300,51.7,12.9,20.0,40.6,2.5,33200,20063,21993,14308
64,Expenditure quintile 2,2020,expq2,350530,198616,80783,56.7,23.0,20.0,37.4,2.8,51756,40102,28481,24061
65,Expenditure quintile 3,2020,expq3,352564,213893,119637,60.7,33.9,20.1,36.9,2.8,69779,57351,38889,33468
66,Expenditure quintile 4,2020,expq4,350182,235256,141104,67.2,40.3,19.9,35.0,3.0,88944,83038,48929,45978
67,Expenditure quintile 5 (high),2020,expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985
68,Māori,2020,maori,329588,156459,107753,47.5,32.7,18.8,31.1,3.2,69581,54141,35075,29684
69,Superannuitant,2020,super,388013,314154,38270,81.0,9.9,22.1,69.8,1.7,34712,34643,25077,27037

In [6]:
df.dropna() #DataFrame with NA entries dropped from it or None

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Expenditure quintile 3,2020,expq3,352564,213893,119637,60.7,33.9,20.1,36.9,2.8,69779,57351,38889,33468
66,Expenditure quintile 4,2020,expq4,350182,235256,141104,67.2,40.3,19.9,35.0,3.0,88944,83038,48929,45978
67,Expenditure quintile 5 (high),2020,expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985
68,Māori,2020,maori,329588,156459,107753,47.5,32.7,18.8,31.1,3.2,69581,54141,35075,29684
69,Superannuitant,2020,super,388013,314154,38270,81.0,9.9,22.1,69.8,1.7,34712,34643,25077,27037

In [7]:
df.describe() #Summary statistics of the Series or Dataframe provided,For numeric data, the result’s index will include count,
              #mean, std, min, max as well as lower, 50 and upper percentiles. By default the lower percentile is 25 and the 
              #upper percentile is 75. The 50 percentile is the same as the median.

,year,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
count,70.000000,7.000000e+01,7.000000e+01,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
mean,2014.000000,4.125193e+05,2.689711e+05,129639.457143,63.505714,30.348571,24.985714,38.284286,2.625714,56694.785714,49267.128571,33451.500000,29510.471429
std,4.273274,3.491547e+05,2.385230e+05,128627.124758,15.145257,14.010004,21.102368,9.376345,0.350439,28921.315551,24008.560485,16004.914882,13307.606051
min,2008.000000,1.322150e+05,3.008000e+04,14220.000000,22.800000,5.100000,7.800000,27.300000,1.600000,16747.000000,16413.000000,13402.000000,11015.000000
25%,2011.000000,3.123460e+05,1.838408e+05,50636.750000,55.400000,15.850000,20.000000,34.850000,2.500000,33299.000000,29904.750000,21499.500000,19884.500000
50%,2014.000000,3.276340e+05,2.153065e+05,107909.000000,64.200000,32.650000,20.000000,36.600000,2.700000,52429.500000,44887.000000,28454.500000,25763.500000
75%,2017.000000,3.468958e+05,2.604148e+05,147563.000000,73.675000,42.050000,20.000000,38.650000,2.800000,69481.500000,58777.500000,38823.000000,33992.250000
max,2020.000000,1.756740e+06,1.125000e+06,574662.000000,88.100000,58.200000,100.000000,70.300000,3.200000,146672.000000,123424.000000,79607.000000,71985.000000

In [8]:
df.info() #This method prints information about a DataFrame including the index dtype and columns, non-null values and memory 
          #usage.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hlpi_name    70 non-null     object
 1   year         70 non-null     int64
 2   hlpi         70 non-null     object
 3   tot_hhs      70 non-null     int64
 4   own          70 non-null     int64
 5   own_wm       70 non-null     int64
 6   own_prop     70 non-null     float64
 7   own_wm_prop  70 non-null     float64
 8   prop_hhs     70 non-null     float64
 9   age          70 non-null     float64
 10  size         70 non-null     float64
 11  income       70 non-null     int64
 12  expenditure  70 non-null     int64
 13  eqv_income   70 non-null     int64
 14  eqv_exp      70 non-null     int64
dtypes: float64(5), int64(8), object(2)
memory usage: 8.3+ KB

In [9]:
df.fillna ##Fill NA/NaN values using the specified method

<bound method DataFrame.fillna of                         hlpi_name  year   hlpi  tot_hhs      own  own_wm  \
0                  All households  2008  allhh  1560859  1087580  574406
1                     Beneficiary  2008  benef   185965    71256   39405
2         Income quintile 1 (low)  2008  disq1   312376   191470   48424
3               Income quintile 2  2008  disq2   312333   196203   84171
4               Income quintile 3  2008  disq3   312240   217657  141318
..                            ...   ...    ...      ...      ...     ...
65         Expenditure quintile 3  2020  expq3   352564   213893  119637
66         Expenditure quintile 4  2020  expq4   350182   235256  141104
67  Expenditure quintile 5 (high)  2020  expq5   351328   288779  187838
68                          Māori  2020  maori   329588   156459  107753
69                 Superannuitant  2020  super   388013   314154   38270

    own_prop  own_wm_prop  prop_hhs   age  size  income  expenditure  \
0       69.7         36.8     100.0  35.9   2.7   46704        42394
1       38.3         21.2      11.9  29.9   2.6   23404        25270
2       61.3         15.5      20.0  40.0   2.3   16747        21145
3       62.8         26.9      20.0  34.7   2.8   31308        29855
4       69.7         45.3      20.0  31.5   3.0   49106        46561
..       ...          ...       ...   ...   ...     ...          ...
65      60.7         33.9      20.1  36.9   2.8   69779        57351
66      67.2         40.3      19.9  35.0   3.0   88944        83038
67      82.2         53.5      20.0  39.6   2.6  104277       123424
68      47.5         32.7      18.8  31.1   3.2   69581        54141
69      81.0          9.9      22.1  69.8   1.7   34712        34643

    eqv_income  eqv_exp
0        26869    25132
1        14258    15824
2        13402    14408
3        18917    18266
4        26870    24672
..         ...      ...
65       38889    33468
66       48929    45978
67       62718    71985
68       35075    29684
69       25077    27037

[70 rows x 15 columns]>

In [10]:
df.sort_values(by=['year', 'own'])##Sort by the values along either axis...Sort by multiple columns

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
12,Māori,2008,maori,253018,119963,77076,47.4,30.5,16.2,28.9,3.2,42885,35312,23096,19797
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
7,Expenditure quintile 1 (low),2008,expq1,312761,194358,49448,62.1,15.8,20.0,38.7,2.5,23680,16413,15190,11015
9,Expenditure quintile 3,2008,expq3,311840,194361,108065,62.3,34.7,20.0,33.0,2.8,49771,42662,27203,25132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Expenditure quintile 4,2020,expq4,350182,235256,141104,67.2,40.3,19.9,35.0,3.0,88944,83038,48929,45978
62,Income quintile 5 (high),2020,disq5,350840,282193,170510,80.4,48.6,20.0,39.8,2.7,146672,98187,78217,55989
67,Expenditure quintile 5 (high),2020,expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985
69,Superannuitant,2020,super,388013,314154,38270,81.0,9.9,22.1,69.8,1.7,34712,34643,25077,27037
56,All households,2020,allhh,1756740,1118600,574662,63.7,32.7,100.0,37.8,2.7,65457,57969,37147,33460

In [30]:
df.sort_values(by=['income'])##Sort by sigle columns..by default sort in ascending order

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
16,Income quintile 1 (low),2011,disq1,321848,166355,49952,51.7,15.5,20.0,36.3,2.4,19787,24224,15414,16221
58,Income quintile 1 (low),2020,disq1,353215,202923,54851,57.5,15.5,20.1,41.1,2.3,20816,30562,17041,20927
13,Superannuitant,2008,super,300243,263054,15406,87.6,5.1,19.2,70.3,1.6,22367,21538,17203,17211
44,Income quintile 1 (low),2017,disq1,337948,182696,43443,54.1,12.9,20.0,40.3,2.3,22733,26775,18859,17850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,Income quintile 5 (high),2011,disq5,320751,262660,142986,81.9,44.6,20.0,40.9,2.4,106227,71815,63106,44712
53,Expenditure quintile 5 (high),2017,expq5,337496,281016,172895,83.3,51.2,20.0,38.3,2.6,109930,115746,67081,67680
34,Income quintile 5 (high),2014,disq5,327900,271412,151260,82.8,46.1,20.0,41.0,2.4,122881,80806,72233,49571
48,Income quintile 5 (high),2017,disq5,338027,286886,160865,84.9,47.6,20.0,41.1,2.5,133270,90983,79607,54244
62,Income quintile 5 (high),2020,disq5,350840,282193,170510,80.4,48.6,20.0,39.8,2.7,146672,98187,78217,55989

In [31]:
df.sort_values(by='expenditure', ascending=False) ##Sort in Descending order

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
67,Expenditure quintile 5 (high),2020,expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985
53,Expenditure quintile 5 (high),2017,expq5,337496,281016,172895,83.3,51.2,20.0,38.3,2.6,109930,115746,67081,67680
62,Income quintile 5 (high),2020,disq5,350840,282193,170510,80.4,48.6,20.0,39.8,2.7,146672,98187,78217,55989
39,Expenditure quintile 5 (high),2014,expq5,327576,271549,180208,82.9,55.0,20.0,37.9,2.5,97676,97823,60056,56910
48,Income quintile 5 (high),2017,disq5,338027,286886,160865,84.9,47.6,20.0,41.1,2.5,133270,90983,79607,54244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,Expenditure quintile 1 (low),2017,expq1,338025,181960,32809,53.8,9.7,20.0,40.0,2.6,33596,20167,20674,14437
63,Expenditure quintile 1 (low),2020,expq1,352137,182056,45300,51.7,12.9,20.0,40.6,2.5,33200,20063,21993,14308
35,Expenditure quintile 1 (low),2014,expq1,327145,179585,41640,54.9,12.7,20.0,38.5,2.6,30138,19997,19171,13678
21,Expenditure quintile 1 (low),2011,expq1,321611,173327,35941,53.9,11.2,20.0,37.3,2.6,27501,18877,17612,13077
7,Expenditure quintile 1 (low),2008,expq1,312761,194358,49448,62.1,15.8,20.0,38.7,2.5,23680,16413,15190,11015

In [11]:
df.groupby(['age']).mean()##Group DataFrame using a mapper or by a Series of columns...A groupby 
#operation involves some combination of splitting the object, applying a function, and combining the 
#results. This can be used to group large amounts of data and compute operations on these groups.

,year,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,size,income,expenditure,eqv_income,eqv_exp
age,,,,,,,,,,,,
27.3,2014.0,1.861340e+05,4.583400e+04,27032.000000,24.600000,14.50,11.400000,2.500000,26569.000000,27348.000000,17706.000000,17893.000000
28.0,2011.0,1.972370e+05,5.666500e+04,27129.000000,28.700000,13.80,12.300000,2.700000,25902.000000,27605.000000,16097.000000,16685.000000
28.3,2011.0,2.791280e+05,1.153120e+05,77879.000000,41.300000,27.90,17.400000,3.200000,51486.000000,42801.000000,27219.000000,22651.000000
28.9,2008.0,2.530180e+05,1.199630e+05,77076.000000,47.400000,30.50,16.200000,3.200000,42885.000000,35312.000000,23096.000000,19797.000000
29.1,2017.0,1.322150e+05,3.008000e+04,14220.000000,22.800000,10.80,7.800000,2.800000,29947.000000,30054.000000,16822.000000,17655.000000
29.9,2008.0,1.859650e+05,7.125600e+04,39405.000000,38.300000,21.20,11.900000,2.600000,23404.000000,25270.000000,14258.000000,15824.000000
30.2,2014.0,2.870530e+05,1.278850e+05,85034.000000,44.600000,29.60,17.500000,3.100000,56765.000000,43582.000000,28428.000000,24850.000000
31.1,2020.0,3.295880e+05,1.564590e+05,107753.000000,47.500000,32.70,18.800000,3.200000,69581.000000,54141.000000,35075.000000,29684.000000
31.5,2008.0,3.122400e+05,2.176570e+05,141318.000000,69.700000,45.30,20.000000,3.000000,49106.000000,46561.000000,26870.000000,24672.000000
31.7,2020.0,2.095590e+05,5.572300e+04,28429.000000,26.600000,13.60,11.900000,2.500000,31232.000000,29416.000000,20697.000000,19007.000000
32.0,2017.0,2.953220e+05,1.469790e+05,89146.000000,49.800000,30.20,17.500000,3.100000,62193.000000,50982.000000,31571.000000,26395.000000
33.0,2008.0,3.118400e+05,1.943610e+05,108065.000000,62.300000,34.70,20.000000,2.800000,49771.000000,42662.000000,27203.000000,25132.000000
33.4,2011.0,3.213720e+05,2.049570e+05,119746.000000,63.800000,37.30,20.000000,2.900000,54894.000000,49431.000000,30833.000000,28130.000000
33.8,2020.0,3.514970e+05,2.102290e+05,121764.000000,59.800000,34.60,20.000000,3.000000,66897.000000,57775.000000,37147.000000,32476.000000
34.2,2014.0,3.274320e+05,1.904960e+05,84148.000000,58.200000,25.70,20.000000,2.900000,41107.000000,38498.000000,24162.000000,22743.000000
34.7,2012.5,3.251040e+05,2.064615e+05,105361.000000,63.450000,32.20,20.000000,2.950000,48980.000000,43960.000000,27531.500000,24587.000000
34.8,2014.0,3.275660e+05,2.197090e+05,118724.000000,67.100000,36.20,20.000000,2.800000,58007.000000,52941.000000,33426.000000,30133.000000
35.0,2015.5,3.359665e+05,2.112655e+05,109332.500000,62.700000,32.20,19.950000,2.950000,63157.000000,58619.000000,35463.500000,33282.000000
35.1,2009.5,3.170755e+05,2.054060e+05,113016.000000,64.950000,35.80,20.000000,2.700000,49897.500000,45902.500000,28721.000000,27167.500000
35.2,2017.0,3.385730e+05,1.891460e+05,79743.000000,55.900000,23.60,20.000000,3.000000,45704.000000,43676.000000,25815.000000,24077.000000
35.3,2010.0,3.182070e+05,2.219043e+05,130226.333333,69.766667,41.00,20.000000,2.700000,60811.333333,53429.666667,35789.666667,31832.000000
35.7,2015.5,3.332930e+05,2.045225e+05,98541.500000,61.350000,29.50,20.000000,2.800000,53998.500000,45379.000000,30851.000000,26685.000000
35.9,2008.0,1.560859e+06,1.087580e+06,574406.000000,69.700000,36.80,100.000000,2.700000,46704.000000,42394.000000,26869.000000,25132.000000
36.1,2012.5,3.249210e+05,2.005560e+05,83281.000000,61.850000,25.70,20.000000,2.750000,42358.000000,33568.500000,24025.500000,20456.500000
36.3,2011.0,9.645380e+05,6.072595e+05,286825.000000,58.450000,24.05,60.000000,2.500000,36445.000000,35161.000000,23123.500000,21778.000000
36.4,2014.0,3.289590e+05,2.186100e+05,113005.000000,66.500000,34.40,20.100000,2.800000,60890.000000,49330.000000,33139.000000,29706.000000
36.5,2014.0,3.276920e+05,2.294720e+05,138029.000000,70.000000,42.10,20.000000,2.600000,80597.000000,66519.000000,45599.000000,39787.000000
36.7,2008.0,3.120280e+05,2.609070e+05,181496.000000,83.600000,58.20,20.000000,2.500000,77434.000000,89053.000000,46269.000000,51550.000000
36.8,2011.0,3.215070e+05,2.269160e+05,133454.000000,70.600000,41.50,20.000000,2.600000,69183.000000,55569.000000,42084.000000,33019.000000
36.9,2020.0,3.520405e+05,2.218325e+05,136870.500000,63.050000,38.85,20.050000,2.800000,81155.000000,64641.500000,45624.000000,37495.000000
37.0,2014.0,1.639405e+06,1.090671e+06,552580.000000,66.500000,33.70,100.000000,2.600000,57359.000000,49330.000000,33426.000000,29683.000000
37.1,2017.0,3.378865e+05,2.496085e+05,150948.000000,73.850000,44.65,20.000000,2.650000,83777.500000,70418.500000,48928.500000,41579.500000
37.3,2011.0,3.216110e+05,1.733270e+05,35941.000000,53.900000,11.20,20.000000,2.600000,27501.000000,18877.000000,17612.000000,13077.000000
37.4,2017.0,7.896493e+05,4.982523e+05,230451.333333,58.466667,24.00,46.666667,2.633333,46214.666667,40068.000000,27265.000000,24341.666667
37.8,2020.0,1.756740e+06,1.118600e+06,574662.000000,63.700000,32.70,100.000000,2.700000,65457.000000,57969.000000,37147.000000,33460.000000
37.9,2014.0,3.275760e+05,2.715490e+05,180208.000000,82.900000,55.00,20.000000,2.500000,97676.000000,97823.000000,60056.000000,56910.000000
38.2,2014.0,3.281580e+05,2.379120e+05,145756.000000,72.500000,44.40,20.000000,2.600000,78889.000000,65874.000000,47882.000000,38147.000000
38.3,2017.0,3.374960e+05,2.810160e+05,172895.000000,83.300000,51.20,20.000000,2.600000,109930.000000,115746.000000,67081.000000,67680.000000
38.4,2020.0,3.496700e+05,1.934840e+05,73432.000000,55.300000,21.00,19.900000,2.700000,41199.000000,41509.000000,25750.000000,24552.000000
38.5,2014.0,3.271450e+05,1.795850e+05,41640.000000,54.900000,12.70,20.000000,2.600000,30138.000000,19997.000000,19171.000000,13678.000000
38.7,2008.0,3.127610e+05,1.943580e+05,49448.000000,62.100000,15.80,20.000000,2.500000,23680.000000,16413.000000,15190.000000,11015.000000
39.0,2011.0,3.214390e+05,2.589380e+05,167710.000000,80.600000,52.20,20.000000,2.400000,86431.000000,90268.000000,52895.000000,52769.000000
39.3,2008.0,3.115740e+05,2.532350e+05,152835.000000,81.300000,49.10,20.000000,2.500000,96861.000000,72822.000000,55637.000000,42932.000000
39.6,2020.0,3.513280e+05,2.887790e+05,187838.000000,82.200000,53.50,20.000000,2.600000,104277.000000,123424.000000,62718.000000,71985.000000
39.8,2020.0,3.508400e+05,2.821930e+05,170510.000000,80.400000,48.60,20.000000,2.700000,146672.000000,98187.000000,78217.000000,55989.000000
40.0,2012.5,3.252005e+05,1.867150e+05,40616.500000,57.550000,12.60,20.000000,2.450000,25171.500000,20656.000000,17038.000000,14422.500000
40.3,2017.0,3.379480e+05,1.826960e+05,43443.000000,54.100000,12.90,20.000000,2.300000,22733.000000,26775.000000,18859.000000,17850.000000
40.6,2020.0,3.521370e+05,1.820560e+05,45300.000000,51.700000,12.90,20.000000,2.500000,33200.000000,20063.000000,21993.000000,14308.000000
40.9,2011.0,3.207510e+05,2.626600e+05,142986.000000,81.900000,44.60,20.000000,2.400000,106227.000000,71815.000000,63106.000000,44712.000000
41.0,2014.0,3.279000e+05,2.714120e+05,151260.000000,82.800000,46.10,20.000000,2.400000,122881.000000,80806.000000,72233.000000,49571.000000
41.1,2018.5,3.456210e+05,2.449045e+05,107858.000000,71.200000,31.55,20.050000,2.400000,77043.000000,60772.500000,48324.000000,37585.500000
68.8,2014.0,3.577480e+05,3.151210e+05,41565.000000,88.100000,11.60,21.800000,1.700000,33168.000000,29328.000000,25404.000000,23456.000000
69.7,2011.0,3.219880e+05,2.701790e+05,23433.000000,83.900000,7.30,20.000000,1.600000,28064.000000,25436.000000,21335.000000,20147.000000
69.8,2020.0,3.880130e+05,3.141540e+05,38270.000000,81.000000,9.90,22.100000,1.700000,34712.000000,34643.000000,25077.000000,27037.000000
69.9,2017.0,3.902320e+05,3.292690e+05,33310.000000,84.400000,8.50,23.100000,1.600000,33911.000000,30486.000000,24803.000000,23968.000000
70.3,2008.0,3.002430e+05,2.630540e+05,15406.000000,87.600000,5.10,19.200000,1.600000,22367.000000,21538.000000,17203.000000,17211.000000

In [32]:
df.groupby(by="income").sum() ## for summing the income

,year,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,expenditure,eqv_income,eqv_exp
income,,,,,,,,,,,,
16747,2008,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,21145,13402,14408
19787,2011,321848,166355,49952,51.7,15.5,20.0,36.3,2.4,24224,15414,16221
20816,2020,353215,202923,54851,57.5,15.5,20.1,41.1,2.3,30562,17041,20927
22367,2008,300243,263054,15406,87.6,5.1,19.2,70.3,1.6,21538,17203,17211
22733,2017,337948,182696,43443,54.1,12.9,20.0,40.3,2.3,26775,18859,17850
...,...,...,...,...,...,...,...,...,...,...,...,...
106227,2011,320751,262660,142986,81.9,44.6,20.0,40.9,2.4,71815,63106,44712
109930,2017,337496,281016,172895,83.3,51.2,20.0,38.3,2.6,115746,67081,67680
122881,2014,327900,271412,151260,82.8,46.1,20.0,41.0,2.4,80806,72233,49571
133270,2017,338027,286886,160865,84.9,47.6,20.0,41.1,2.5,90983,79607,54244
146672,2020,350840,282193,170510,80.4,48.6,20.0,39.8,2.7,98187,78217,55989

In [12]:
df.apply

<bound method DataFrame.apply of                         hlpi_name  year   hlpi  tot_hhs      own  own_wm  \
0                  All households  2008  allhh  1560859  1087580  574406
1                     Beneficiary  2008  benef   185965    71256   39405
2         Income quintile 1 (low)  2008  disq1   312376   191470   48424
3               Income quintile 2  2008  disq2   312333   196203   84171
4               Income quintile 3  2008  disq3   312240   217657  141318
..                            ...   ...    ...      ...      ...     ...
65         Expenditure quintile 3  2020  expq3   352564   213893  119637
66         Expenditure quintile 4  2020  expq4   350182   235256  141104
67  Expenditure quintile 5 (high)  2020  expq5   351328   288779  187838
68                          Māori  2020  maori   329588   156459  107753
69                 Superannuitant  2020  super   388013   314154   38270

    own_prop  own_wm_prop  prop_hhs   age  size  income  expenditure  \
0       69.7         36.8     100.0  35.9   2.7   46704        42394
1       38.3         21.2      11.9  29.9   2.6   23404        25270
2       61.3         15.5      20.0  40.0   2.3   16747        21145
3       62.8         26.9      20.0  34.7   2.8   31308        29855
4       69.7         45.3      20.0  31.5   3.0   49106        46561
..       ...          ...       ...   ...   ...     ...          ...
65      60.7         33.9      20.1  36.9   2.8   69779        57351
66      67.2         40.3      19.9  35.0   3.0   88944        83038
67      82.2         53.5      20.0  39.6   2.6  104277       123424
68      47.5         32.7      18.8  31.1   3.2   69581        54141
69      81.0          9.9      22.1  69.8   1.7   34712        34643

    eqv_income  eqv_exp
0        26869    25132
1        14258    15824
2        13402    14408
3        18917    18266
4        26870    24672
..         ...      ...
65       38889    33468
66       48929    45978
67       62718    71985
68       35075    29684
69       25077    27037

[70 rows x 15 columns]>

In [13]:
df.append ##Append rows of other to the end of caller, returning a new object.

<bound method DataFrame.append of                         hlpi_name  year   hlpi  tot_hhs      own  own_wm  \
0                  All households  2008  allhh  1560859  1087580  574406
1                     Beneficiary  2008  benef   185965    71256   39405
2         Income quintile 1 (low)  2008  disq1   312376   191470   48424
3               Income quintile 2  2008  disq2   312333   196203   84171
4               Income quintile 3  2008  disq3   312240   217657  141318
..                            ...   ...    ...      ...      ...     ...
65         Expenditure quintile 3  2020  expq3   352564   213893  119637
66         Expenditure quintile 4  2020  expq4   350182   235256  141104
67  Expenditure quintile 5 (high)  2020  expq5   351328   288779  187838
68                          Māori  2020  maori   329588   156459  107753
69                 Superannuitant  2020  super   388013   314154   38270

    own_prop  own_wm_prop  prop_hhs   age  size  income  expenditure  \
0       69.7         36.8     100.0  35.9   2.7   46704        42394
1       38.3         21.2      11.9  29.9   2.6   23404        25270
2       61.3         15.5      20.0  40.0   2.3   16747        21145
3       62.8         26.9      20.0  34.7   2.8   31308        29855
4       69.7         45.3      20.0  31.5   3.0   49106        46561
..       ...          ...       ...   ...   ...     ...          ...
65      60.7         33.9      20.1  36.9   2.8   69779        57351
66      67.2         40.3      19.9  35.0   3.0   88944        83038
67      82.2         53.5      20.0  39.6   2.6  104277       123424
68      47.5         32.7      18.8  31.1   3.2   69581        54141
69      81.0          9.9      22.1  69.8   1.7   34712        34643

    eqv_income  eqv_exp
0        26869    25132
1        14258    15824
2        13402    14408
3        18917    18266
4        26870    24672
..         ...      ...
65       38889    33468
66       48929    45978
67       62718    71985
68       35075    29684
69       25077    27037

[70 rows x 15 columns]>

In [14]:
df.join ##Join columns of another DataFrame....Join columns with other DataFrame either on index or on
#a key column.Efficiently join multiple DataFrame objects by index at once by passing a list.

<bound method DataFrame.join of                         hlpi_name  year   hlpi  tot_hhs      own  own_wm  \
0                  All households  2008  allhh  1560859  1087580  574406
1                     Beneficiary  2008  benef   185965    71256   39405
2         Income quintile 1 (low)  2008  disq1   312376   191470   48424
3               Income quintile 2  2008  disq2   312333   196203   84171
4               Income quintile 3  2008  disq3   312240   217657  141318
..                            ...   ...    ...      ...      ...     ...
65         Expenditure quintile 3  2020  expq3   352564   213893  119637
66         Expenditure quintile 4  2020  expq4   350182   235256  141104
67  Expenditure quintile 5 (high)  2020  expq5   351328   288779  187838
68                          Māori  2020  maori   329588   156459  107753
69                 Superannuitant  2020  super   388013   314154   38270

    own_prop  own_wm_prop  prop_hhs   age  size  income  expenditure  \
0       69.7         36.8     100.0  35.9   2.7   46704        42394
1       38.3         21.2      11.9  29.9   2.6   23404        25270
2       61.3         15.5      20.0  40.0   2.3   16747        21145
3       62.8         26.9      20.0  34.7   2.8   31308        29855
4       69.7         45.3      20.0  31.5   3.0   49106        46561
..       ...          ...       ...   ...   ...     ...          ...
65      60.7         33.9      20.1  36.9   2.8   69779        57351
66      67.2         40.3      19.9  35.0   3.0   88944        83038
67      82.2         53.5      20.0  39.6   2.6  104277       123424
68      47.5         32.7      18.8  31.1   3.2   69581        54141
69      81.0          9.9      22.1  69.8   1.7   34712        34643

    eqv_income  eqv_exp
0        26869    25132
1        14258    15824
2        13402    14408
3        18917    18266
4        26870    24672
..         ...      ...
65       38889    33468
66       48929    45978
67       62718    71985
68       35075    29684
69       25077    27037

[70 rows x 15 columns]>

In [15]:
df.rename(columns={"hlpi_name": "name", "expenditure": "cost"}) ##Alter axes labels...Function / dict 
#values must benunique (1-to-1). Labels not contained in a dict / Series will be left as-is. Extra 
#labels listed don’t throw an error.

,name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,cost,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Expenditure quintile 3,2020,expq3,352564,213893,119637,60.7,33.9,20.1,36.9,2.8,69779,57351,38889,33468
66,Expenditure quintile 4,2020,expq4,350182,235256,141104,67.2,40.3,19.9,35.0,3.0,88944,83038,48929,45978
67,Expenditure quintile 5 (high),2020,expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985
68,Māori,2020,maori,329588,156459,107753,47.5,32.7,18.8,31.1,3.2,69581,54141,35075,29684
69,Superannuitant,2020,super,388013,314154,38270,81.0,9.9,22.1,69.8,1.7,34712,34643,25077,27037

In [16]:
df.set_index('year') #Set the index to become the ‘year’ column.Set the DataFrame index (row labels) 
#using one or more existing columns or arrays (of the correct length). The index can replace the 
#existing index or expand on it.

,hlpi_name,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
year,,,,,,,,,,,,,,
2008,All households,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
2008,Beneficiary,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2008,Income quintile 1 (low),disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
2008,Income quintile 2,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
2008,Income quintile 3,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020,Expenditure quintile 3,expq3,352564,213893,119637,60.7,33.9,20.1,36.9,2.8,69779,57351,38889,33468
2020,Expenditure quintile 4,expq4,350182,235256,141104,67.2,40.3,19.9,35.0,3.0,88944,83038,48929,45978
2020,Expenditure quintile 5 (high),expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985
2020,Māori,maori,329588,156459,107753,47.5,32.7,18.8,31.1,3.2,69581,54141,35075,29684
2020,Superannuitant,super,388013,314154,38270,81.0,9.9,22.1,69.8,1.7,34712,34643,25077,27037

In [33]:
df.set_index(['year', 'age'])##Create a MultiIndex using columns ‘year’ and ‘age’

                               hlpi_name   hlpi  tot_hhs      own  own_wm  \
year age
2008 35.9                 All households  allhh  1560859  1087580  574406
     29.9                    Beneficiary  benef   185965    71256   39405
     40.0        Income quintile 1 (low)  disq1   312376   191470   48424
     34.7              Income quintile 2  disq2   312333   196203   84171
     31.5              Income quintile 3  disq3   312240   217657  141318
...                                  ...    ...      ...      ...     ...
2020 36.9         Expenditure quintile 3  expq3   352564   213893  119637
     35.0         Expenditure quintile 4  expq4   350182   235256  141104
     39.6  Expenditure quintile 5 (high)  expq5   351328   288779  187838
     31.1                          Māori  maori   329588   156459  107753
     69.8                 Superannuitant  super   388013   314154   38270

           own_prop  own_wm_prop  prop_hhs  size  income  expenditure  \
year age
2008 35.9      69.7         36.8     100.0   2.7   46704        42394
     29.9      38.3         21.2      11.9   2.6   23404        25270
     40.0      61.3         15.5      20.0   2.3   16747        21145
     34.7      62.8         26.9      20.0   2.8   31308        29855
     31.5      69.7         45.3      20.0   3.0   49106        46561
...             ...          ...       ...   ...     ...          ...
2020 36.9      60.7         33.9      20.1   2.8   69779        57351
     35.0      67.2         40.3      19.9   3.0   88944        83038
     39.6      82.2         53.5      20.0   2.6  104277       123424
     31.1      47.5         32.7      18.8   3.2   69581        54141
     69.8      81.0          9.9      22.1   1.7   34712        34643

           eqv_income  eqv_exp
year age
2008 35.9       26869    25132
     29.9       14258    15824
     40.0       13402    14408
     34.7       18917    18266
     31.5       26870    24672
...               ...      ...
2020 36.9       38889    33468
     35.0       48929    45978
     39.6       62718    71985
     31.1       35075    29684
     69.8       25077    27037

[70 rows x 13 columns]

In [17]:
df.to_csv()##If path_or_buf is None, returns the resulting csv format as a string. Otherwise returns 
#None.

',hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp\r\n0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132\r\n1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824\r\n2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408\r\n3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266\r\n4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672\r\n5,Income quintile 4,2008,disq4,312336,229014,147658,73.3,47.3,20.0,35.3,2.6,61674,52776,36691,31958\r\n6,Income quintile 5 (high),2008,disq5,311574,253235,152835,81.3,49.1,20.0,39.3,2.5,96861,72822,55637,42932\r\n7,Expenditure quintile 1 (low),2008,expq1,312761,194358,49448,62.1,15.8,20.0,38.7,2.5,23680,16413,15190,11015\r\n8,Expenditure quintile 2,2008,expq2,311973,206342,86390,66.1,27.7,20.0,36.1,2.7,34155,29085,20357,18121\r\n9,Expenditure quintile 3,2008,expq3,311840,194361,108065,62.3,34.7,20.0,33.0,2.8,49771,42662,27203,25132\r\n10,Expenditure quintile 4,2008,expq4,312257,231612,149007,74.2,47.7,20.0,35.1,2.7,60863,59015,34547,34167\r\n11,Expenditure quintile 5 (high),2008,expq5,312028,260907,181496,83.6,58.2,20.0,36.7,2.5,77434,89053,46269,51550\r\n12,Māori,2008,maori,253018,119963,77076,47.4,30.5,16.2,28.9,3.2,42885,35312,23096,19797\r\n13,Superannuitant,2008,super,300243,263054,15406,87.6,5.1,19.2,70.3,1.6,22367,21538,17203,17211\r\n14,All households,2011,allhh,1607228,1048164,523698,65.2,32.6,100.0,36.3,2.6,53103,46098,30833,27335\r\n15,Beneficiary,2011,benef,197237,56665,27129,28.7,13.8,12.3,28.0,2.7,25902,27605,16097,16685\r\n16,Income quintile 1 (low),2011,disq1,321848,166355,49952,51.7,15.5,20.0,36.3,2.4,19787,24224,15414,16221\r\n17,Income quintile 2,2011,disq2,321751,187275,77561,58.2,24.1,20.0,35.0,2.9,37370,34200,21998,20586\r\n18,Income quintile 3,2011,disq3,321372,204957,119746,63.8,37.3,20.0,33.4,2.9,54894,49431,30833,28130\r\n19,Income quintile 4,2011,disq4,321507,226916,133454,70.6,41.5,20.0,36.8,2.6,69183,55569,42084,33019\r\n20,Income quintile 5 (high),2011,disq5,320751,262660,142986,81.9,44.6,20.0,40.9,2.4,106227,71815,63106,44712\r\n21,Expenditure quintile 1 (low),2011,expq1,321611,173327,35941,53.9,11.2,20.0,37.3,2.6,27501,18877,17612,13077\r\n22,Expenditure quintile 2,2011,expq2,321894,179200,77025,55.7,23.9,20.0,35.1,2.7,38932,32790,22895,20168\r\n23,Expenditure quintile 3,2011,expq3,321367,211728,108496,65.9,33.8,20.0,35.3,2.8,56117,46651,32053,27335\r\n24,Expenditure quintile 4,2011,expq4,320918,224971,134525,70.1,41.9,20.0,35.3,2.7,64643,60862,38625,36203\r\n25,Expenditure quintile 5 (high),2011,expq5,321439,258938,167710,80.6,52.2,20.0,39.0,2.4,86431,90268,52895,52769\r\n26,Māori,2011,maori,279128,115312,77879,41.3,27.9,17.4,28.3,3.2,51486,42801,27219,22651\r\n27,Superannuitant,2011,super,321988,270179,23433,83.9,7.3,20.0,69.7,1.6,28064,25436,21335,20147\r\n28,All households,2014,allhh,1639405,1090671,552580,66.5,33.7,100.0,37.0,2.6,57359,49330,33426,29683\r\n29,Beneficiary,2014,benef,186134,45834,27032,24.6,14.5,11.4,27.3,2.5,26569,27348,17706,17893\r\n30,Income quintile 1 (low),2014,disq1,328349,171141,52691,52.1,16.0,20.0,37.4,2.4,22822,25809,17168,17555\r\n31,Income quintile 2,2014,disq2,327432,190496,84148,58.2,25.7,20.0,34.2,2.9,41107,38498,24162,22743\r\n32,Income quintile 3,2014,disq3,327566,219709,118724,67.1,36.2,20.0,34.8,2.8,58007,52941,33426,30133\r\n33,Income quintile 4,2014,disq4,328158,237912,145756,72.5,44.4,20.0,38.2,2.6,78889,65874,47882,38147\r\n34,Income quintile 5 (high),2014,disq5,327900,271412,151260,82.8,46.1,20.0,41.0,2.4,122881,80806,72233,49571\r\n35,Expenditure quintile 1 (low),2014,expq1,327145,179585,41640,54.9,12.7,20.0,38.5,2.6,30138,19997,19171,13678\r\n36,Expenditure quintile 2,2014,expq2,328033,191455,79697,58.4,24.3,20.0,35.7,2.7,42898,35822,25743,21961\r\n37,Expenditure quintile 3,2014,expq3,328959,218610,113005,66.5,34.4,20.1,36.4,2.8,60890,49330,33139,29706\r\n38,Expenditure quintile 4,2014,expq4,327692,229472,138029,70.0,42.1,20.0,36.5,2.6,80597,66519,45599,39787\r\n39,Expenditure quintile 5 (high),2014,expq5,327576,271549,180208,82.9,55.0,20.0,37.9,2.5,97676,97823,60056,56910\r\n40,Māori,2014,maori,287053,127885,85034,44.6,29.6,17.5,30.2,3.1,56765,43582,28428,24850\r\n41,Superannuitant,2014,super,357748,315121,41565,88.1,11.6,21.8,68.8,1.7,33168,29328,25404,23456\r\n42,All households,2017,allhh,1690069,1125000,557880,66.6,33.0,100.0,37.4,2.7,64066,54293,36146,31409\r\n43,Beneficiary,2017,benef,132215,30080,14220,22.8,10.8,7.8,29.1,2.8,29947,30054,16822,17655\r\n44,Income quintile 1 (low),2017,disq1,337948,182696,43443,54.1,12.9,20.0,40.3,2.3,22733,26775,18859,17850\r\n45,Income quintile 2,2017,disq2,338573,189146,79743,55.9,23.6,20.0,35.2,3.0,45704,43676,25815,24077\r\n46,Income quintile 3,2017,disq3,337875,216720,126551,64.1,37.5,20.0,34.7,3.1,66652,58065,36146,30908\r\n47,Income quintile 4,2017,disq4,337646,249553,147278,73.9,43.6,20.0,37.1,2.7,85856,68119,50425,40219\r\n48,Income quintile 5 (high),2017,disq5,338027,286886,160865,84.9,47.6,20.0,41.1,2.5,133270,90983,79607,54244\r\n49,Expenditure quintile 1 (low),2017,expq1,338025,181960,32809,53.8,9.7,20.0,40.0,2.6,33596,20167,20674,14437\r\n50,Expenditure quintile 2,2017,expq2,337869,194770,80172,57.6,23.7,20.0,36.1,2.8,50561,38052,27694,22792\r\n51,Expenditure quintile 3,2017,expq3,338553,217590,117386,64.3,34.7,20.0,35.7,2.9,65099,54936,35959,31409\r\n52,Expenditure quintile 4,2017,expq4,338127,249664,154618,73.8,45.7,20.0,37.1,2.6,81699,72718,47432,42940\r\n53,Expenditure quintile 5 (high),2017,expq5,337496,281016,172895,83.3,51.2,20.0,38.3,2.6,109930,115746,67081,67680\r\n54,Māori,2017,maori,295322,146979,89146,49.8,30.2,17.5,32.0,3.1,62193,50982,31571,26395\r\n55,Superannuitant,2017,super,390232,329269,33310,84.4,8.5,23.1,69.9,1.6,33911,30486,24803,23968\r\n56,All households,2020,allhh,1756740,1118600,574662,63.7,32.7,100.0,37.8,2.7,65457,57969,37147,33460\r\n57,Beneficiary,2020,benef,209559,55723,28429,26.6,13.6,11.9,31.7,2.5,31232,29416,20697,19007\r\n58,Income quintile 1 (low),2020,disq1,353215,202923,54851,57.5,15.5,20.1,41.1,2.3,20816,30562,17041,20927\r\n59,Income quintile 2,2020,disq2,349670,193484,73432,55.3,21.0,19.9,38.4,2.7,41199,41509,25750,24552\r\n60,Income quintile 3,2020,disq3,351497,210229,121764,59.8,34.6,20.0,33.8,3.0,66897,57775,37147,32476\r\n61,Income quintile 4,2020,disq4,351517,229772,154104,65.4,43.8,20.0,36.9,2.8,92531,71932,52359,41522\r\n62,Income quintile 5 (high),2020,disq5,350840,282193,170510,80.4,48.6,20.0,39.8,2.7,146672,98187,78217,55989\r\n63,Expenditure quintile 1 (low),2020,expq1,352137,182056,45300,51.7,12.9,20.0,40.6,2.5,33200,20063,21993,14308\r\n64,Expenditure quintile 2,2020,expq2,350530,198616,80783,56.7,23.0,20.0,37.4,2.8,51756,40102,28481,24061\r\n65,Expenditure quintile 3,2020,expq3,352564,213893,119637,60.7,33.9,20.1,36.9,2.8,69779,57351,38889,33468\r\n66,Expenditure quintile 4,2020,expq4,350182,235256,141104,67.2,40.3,19.9,35.0,3.0,88944,83038,48929,45978\r\n67,Expenditure quintile 5 (high),2020,expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985\r\n68,Māori,2020,maori,329588,156459,107753,47.5,32.7,18.8,31.1,3.2,69581,54141,35075,29684\r\n69,Superannuitant,2020,super,388013,314154,38270,81.0,9.9,22.1,69.8,1.7,34712,34643,25077,27037\r\n'

In [18]:
df.mean() ##Return the mean of the values over the requested axis.

C:\Users\ELCOT\AppData\Local\Temp/ipykernel_4840/3782172296.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean() ##Return the mean of the values over the requested axis.

year             2014.000000
tot_hhs        412519.271429
own            268971.100000
own_wm         129639.457143
own_prop           63.505714
own_wm_prop        30.348571
prop_hhs           24.985714
age                38.284286
size                2.625714
income          56694.785714
expenditure     49267.128571
eqv_income      33451.500000
eqv_exp         29510.471429
dtype: float64

In [19]:
df.median() ##Return the median of the values over the requested axis.

C:\Users\ELCOT\AppData\Local\Temp/ipykernel_4840/2005725065.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median() ##Return the median of the values over the requested axis.

year             2014.00
tot_hhs        327634.00
own            215306.50
own_wm         107909.00
own_prop           64.20
own_wm_prop        32.65
prop_hhs           20.00
age                36.60
size                2.70
income          52429.50
expenditure     44887.00
eqv_income      28454.50
eqv_exp         25763.50
dtype: float64

In [20]:
df.std() ##Return sample standard deviation over requested axis

C:\Users\ELCOT\AppData\Local\Temp/ipykernel_4840/2112978240.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std() ##Return sample standard deviation over requested axis

year                4.273274
tot_hhs        349154.700542
own            238523.033142
own_wm         128627.124758
own_prop           15.145257
own_wm_prop        14.010004
prop_hhs           21.102368
age                 9.376345
size                0.350439
income          28921.315551
expenditure     24008.560485
eqv_income      16004.914882
eqv_exp         13307.606051
dtype: float64

In [21]:
df.corr() ##DataFrame.corr(method='pearson', min_periods=1)[source]
##Compute pairwise correlation of columns, excluding NA/null values.

##Parameters
#method{‘pearson’, ‘kendall’, ‘spearman’} or callable
#Method of correlation:

#pearson : standard correlation coefficient

#kendall : Kendall Tau correlation coefficient

#spearman : Spearman rank correlation

#callable: callable with input two 1d ndarrays and returning a float. Note that the returned matrix from corr will have 1 along
#the diagonals and will be symmetric regardless of the callable’s behavior.

#min_periodsint, optional
#Minimum number of observations required per pair of columns to have a valid result. Currently only available for Pearson and 
#Spearman correlation.

#Returns DataFrame Correlation matrix.

,year,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
year,1.000000,0.053009,0.026657,0.015618,-0.100903,-0.062819,0.004677,0.071943,0.069680,0.255323,0.237678,0.249234,0.241206
tot_hhs,0.053009,1.000000,0.984288,0.935600,0.134783,0.092174,0.997975,0.014830,0.004001,0.046177,0.045830,0.033836,0.039318
own,0.026657,0.984288,1.000000,0.946960,0.298236,0.173458,0.984529,0.121647,-0.088291,0.139258,0.142952,0.139968,0.149637
own_wm,0.015618,0.935600,0.946960,1.000000,0.261673,0.429641,0.936748,-0.135136,0.149775,0.331920,0.347219,0.310970,0.325580
own_prop,-0.100903,0.134783,0.298236,0.261673,1.000000,0.500671,0.139761,0.589219,-0.449625,0.542200,0.552419,0.605780,0.616501
own_wm_prop,-0.062819,0.092174,0.173458,0.429641,0.500671,1.000000,0.095922,-0.340870,0.376403,0.846988,0.885802,0.824288,0.847457
prop_hhs,0.004677,0.997975,0.984529,0.936748,0.139761,0.095922,1.000000,0.010633,0.001128,0.034600,0.034681,0.022608,0.028153
age,0.071943,0.014830,0.121647,-0.135136,0.589219,-0.340870,0.010633,1.000000,-0.872483,-0.115330,-0.122963,-0.025977,-0.013348
size,0.069680,0.004001,-0.088291,0.149775,-0.449625,0.376403,0.001128,-0.872483,1.000000,0.205413,0.178321,0.082994,0.053211
income,0.255323,0.046177,0.139258,0.331920,0.542200,0.846988,0.034600,-0.115330,0.205413,1.000000,0.925707,0.988326,0.916841
expenditure,0.237678,0.045830,0.142952,0.347219,0.552419,0.885802,0.034681,-0.122963,0.178321,0.925707,1.000000,0.931553,0.990718
eqv_income,0.249234,0.033836,0.139968,0.310970,0.605780,0.824288,0.022608,-0.025977,0.082994,0.988326,0.931553,1.000000,0.939410
eqv_exp,0.241206,0.039318,0.149637,0.325580,0.616501,0.847457,0.028153,-0.013348,0.053211,0.916841,0.990718,0.939410,1.000000

In [22]:
len(df) ##returns total number of rows

70

In [23]:
df.max() ##eturn the maximum over the requested axis.

hlpi_name      Superannuitant
year                     2020
hlpi                    super
tot_hhs               1756740
own                   1125000
own_wm                 574662
own_prop                 88.1
own_wm_prop              58.2
prop_hhs                100.0
age                      70.3
size                      3.2
income                 146672
expenditure            123424
eqv_income              79607
eqv_exp                 71985
dtype: object

In [24]:
df.min() ##Return the minimum of the values over the requested axis.

hlpi_name      All households
year                     2008
hlpi                    allhh
tot_hhs                132215
own                     30080
own_wm                  14220
own_prop                 22.8
own_wm_prop               5.1
prop_hhs                  7.8
age                      27.3
size                      1.6
income                  16747
expenditure             16413
eqv_income              13402
eqv_exp                 11015
dtype: object

In [25]:
df ##print the whole csv file

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Expenditure quintile 3,2020,expq3,352564,213893,119637,60.7,33.9,20.1,36.9,2.8,69779,57351,38889,33468
66,Expenditure quintile 4,2020,expq4,350182,235256,141104,67.2,40.3,19.9,35.0,3.0,88944,83038,48929,45978
67,Expenditure quintile 5 (high),2020,expq5,351328,288779,187838,82.2,53.5,20.0,39.6,2.6,104277,123424,62718,71985
68,Māori,2020,maori,329588,156459,107753,47.5,32.7,18.8,31.1,3.2,69581,54141,35075,29684
69,Superannuitant,2020,super,388013,314154,38270,81.0,9.9,22.1,69.8,1.7,34712,34643,25077,27037